<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leave Form CVASU</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default ">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="">CIIS</a>
	    </div>
	    <ul class="nav navbar-nav navbar-left navbar-dark bg-dark">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="/leave_form">Add Leave</a></li>
	      <li><a href="/leave_list">Leave List</a></li>
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="jumbotron text-center">
		<h1>Online Leave Form CVASU</h1>
	</div>
	<form action = "/leave_form_data" method = "POST"  enctype = "multipart/form-data">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Email</strong> <br>
					<input type="email" name="email"  size="50" value="{{ mydata['email'] }}"  readonly="">
				</div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Department</strong> <br>
					<input type="text" name="department"  size="50" required="" value="{{ mydata['department']}}" readonly="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Role</strong> <br>
					<input type="text" name="role"  size="50" value="{{mydata['role']}}" readonly="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Head of Department</strong> <br>
					<input type="text" name="head_name"  size="50" value="{{ mydata['head_name']}}" readonly="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Head Email </strong> <br>
					<input type="text" name="head_email"  size="50" value="{{ mydata['head_email']}}" readonly="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Leave_from</strong>
					<input type="date" name="leave_from"  size="50" required="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Leave_to</strong>
					<input type="date" name="leave_to"  size="50" required="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4" id="days"></div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Type :</strong>
					<select name="type" required="">
						<option value="casual">Casual Leave</option>
						<option value="sick">Sick Leave</option>
						<option value="study">Study Leave</option>
						<option value="station">Station Leave</option>
						<option value="duty">Duty Leave</option>
						<option value="earned">Earned Leave</option>
						<option value="recreation">Recreation Leave</option>
						<option value="maternity">Maternity Leave</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Purpose of Leave</strong><br>
					<textarea name="address" id="saddress" cols="45" rows="7"></textarea>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><strong>Office Order pdf document (if necessary)</strong>
					<input type="file" name="file">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</div>
			<br>
			<br>


		</div>
	</form>

</body>
</html>